#*.md
#*.gradle
#*.css
#*.html
#*.json
*.class
#*.bin
#*.js
#*.xml
#*.iml
#*.idx
*.classpath
*.project
#
#*/.settings/
#*/.gradle/
#*/gradle/
#/.idea/
#!build.gradle

# Project exclude paths
**/build/
**/gradle/
**/.exercism/
**/.gradle/
**/.idea/
**/.settings/
**/bin/

# Excluded files in challenges
#build.gradle.kts
gradlew
gradlew.bat
*.iml