# Ignore files of these formats
*.class
*.jar
*.classpath
*.project

# Project exclude paths
**/build/
**/gradle/
**/.exercism/
**/.gradle/
**/.idea/
**/.settings/
**/bin/
.gradle

# Excluded files in challenges
#build.gradle.kts
gradlew
gradlew.bat
*.iml

# Ignore Gradle build output directory
build
